<div
  class="w-4/5 mx-auto flex justify-center items-center min-h-screen bg-transparent"
>
  <form
    (submit)="registerUser()"
    class="flex flex-col gap-4 justify-center items-center bg-white p-6 rounded-xl w-96"
    [formGroup]="formReg"
  >
    <h1 class="font-bold text-2xl mb-3 uppercase">Crear Nueva Cuenta</h1>

    <div class="flex flex-col w-full">
      <label for="email" class="mb-2 font-semibold">Correo</label>
      <input
        id="email"
        type="text"
        class="border p-2 rounded-lg"
        formControlName="email"
        name="email"
        [ngClass]="{ 'border-red-500': campoNoValido('email') }"
      />
      <div class="text-red-500 text-sm">
        <span
          *ngIf="form['email']?.errors?.['required'] && form['email'].touched"
        >
          El email es requerido
        </span>
        <span
          *ngIf="form['email']?.errors?.['pattern'] && form['email'].touched"
        >
          El formato del campo email es incorrecto
        </span>
      </div>
    </div>

    <div class="flex flex-col w-full">
      <label for="" class="mb-2 font-semibold">Contraseña</label>
      <input
        type="password"
        class="border p-2 rounded-lg"
        formControlName="password"
        name="password"
        [ngClass]="{ 'border-red-500': campoNoValido('password') }"
      />
      <div class="text-red-500 text-sm">
        <span
          *ngIf="form['password']?.errors?.['required'] && form['password'].touched"
        >
          El password es requerido
        </span>
        <span
          *ngIf="form['password']?.errors?.['pattern'] && form['password'].touched"
        >
          El tamaño mínimo de la contraseña es de 8 carácteres
        </span>
      </div>
    </div>
    <button
      [disabled]="formReg.invalid"
      class="bg-black text-white p-3 rounded-lg mt-6 hover:bg-blue-600 disabled:opacity-25 hover:disabled:bg-black"
    >
      Registrar
    </button>
    <span
      >Ya tienes una cuenta?
      <a routerLink="/login" class="font-bold text-blue-500"
        >Iniciar Sesión</a
      ></span
    >
  </form>
</div>
