@import "@angular/cdk/overlay-prebuilt.css";
.overlay-panel {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 30px;
  max-width: 600px;
  max-height: 400px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
}

.overlay-panel > * {
  width: inherit;
  height: inherit;
  /* overflow-y: scroll; */
}
